<html>
<body>
<div class="back to list" >
  <a href='/points' >Back to Index</a>
</div>
<div class="errors">
  <% @point.errors.each do |attribute, error| %>
    <p class="error" style="color: red">
      <%= attribute %>: <%= error %>
    </p>
  <% end %>
</div>
  <form method="post" action="/points" >
    <br />
    <label for="user">User :</label>
    <input type="text" name='user' id="user" value="<%= @point.user %>" />
    <label for="github_url" >Github URL : </label>
    <input type='text' name='github_url' id='github_url' value='<%= @point.github_url %>'/>
    <br />
    <label>Questions</label>
    <div class="questions">
      <%= render 'questions_review' %>
      <%= render 'questions_testing' %>
      <%= render 'questions_housekeeping' %>
      <%= render 'questions_productivity' %>
      <%= render 'questions_meta' %>
    </div>
    <div class="point_total" >
      <input type="text" class="result" name="point_total" value='<%=@point.point_total %>'/>
    </div>
    <input type='submit' value="Add Points" />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  </form>

</body>
</html>
