<html>
<body>
<div class="back to list" >
  <a href='/list/points' >Back to Index</a>
</div>
<form method="post" action="/update_point/<%=point.id %>">
  <label>PIN</label>
  <input name="pin" type='text' value="pin"/>
  <br />
  <label for="user">User :</label>
  <input type="text" name='user' id="user" value='<%= point.user %>' />
  <label for="github_url" >Github URL : </label>
  <input type='text' name='github_url' id='github_url' value='<%= point.github_url %>'/>
  <br />
  <label>Questions</label>
  <div class="questions">
    <%= render 'questions_review' %>
    <%= render 'questions_testing' %>
    <%= render 'questions_housekeeping' %>
    <%= render 'questions_productivity' %>
    <%= render 'questions_meta' %>
  </div>
  <div class="point_total" >
    <p class="result">result[waiting input]</p>
  </div>
  <input type='submit' value="Add Points" />
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

</form>
</body>
</html>
