<html>
  <body>
  <a href='/new_point' >Create New Point</a>
    <div class="points">
      <% points.each do |point| %>
        <div class="point">
          <h2 class="user">
            <a href='/show_point/<%= point.id  %>'>
              <%= point.user  %> . <%= point.id  %>
            </a>
          </h2>
          <small class="meta" >
            <span class="point_total" > Points: <%= point.point_total  %></span>
            <em class="created_at" >Created on <%= point["created_at"] %></em>
          </small>
          <a href='/edit_point/<%= point.id  %>'>Edit Points</a>
        </div>
        <form method="post" action="/delete_point/<%=point.id  %>" style='display: inline'>
          <input type='submit' value='Delete' />
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
      <% end %>
    </div>
  </body>
</html>
